@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

nav {
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    margin-bottom: 30px;
    transition: 0.6s; 
}

nav.sticky {
    background: white (75%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

nav .brand {
    color:#61210F;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}

nav .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 0 30px;
    color: #B16651;
    transition: 0.3s;
}


nav .menu a:hover {
    border-bottom: #61210F 2px solid;
}

nav .btn {
    color:#B16651;
    font-size: 25px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
    transition-property: color;
}

nav .btn:hover {
    color: #61210F ;
}

@media (max-width: 1060px) {
    nav .btn {
        display: block;
    }

    nav .menu {
        position: fixed;
        background:white;
        flex-direction: column;
        min-width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

    nav .menu.active {
        right: 0;
    }

    nav .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
    }
    
}
.section-main {
    padding-top: 15vh;
    width: 100%;
}

/*content*/
.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    object-fit: cover;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.content p {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.content h2{
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    color: #61210F;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}

.s1row {
    display: flex;

}

.s1col1 {
    width: 50%;
}

.s1col2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s1col2content {
    margin-left: 5vw;
} 

p1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;    
    width: 10vw;

}

p2 {
    font-size: 12px;
}

.li1 {
    list-style-type: decimal;
    line-height: 2;
    font-size: 14px;

}

.li2 {
    line-height: 2;
    font-size: 14px;
}

.s1col1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s1col1content2{
    margin-left: 5vw;
    width: 75%;
}

@media screen and (max-width: 600px) {
    .s1row {
        display: block;
    }
    
    .s1col1 {
        background-color:aqua;
        width:80%;
        margin: auto;

    }
    .s1col2 {
        margin: 30px auto;
        width: 90%;
    }

}

.s2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-height: 80vh;
}

.s3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.video {
    max-width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

/*content end*/

.footer-basic {
    padding: 40px 0; 
}

.footer-basic ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.footer-basic ul li a{
    color: #B16651;
    text-decoration: none;
    transition: 0.3s;

}

.footer-basic ul li a:hover {
    color: #61210F;
}

.footer-basic ul li {
    display: inline-block;
    padding: 0 15px;
}


.content img, .video{
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

@media screen and (max-width: 390px) { 
    nav .brand {
        font-size: 21px;
        position: relative; 
        left: -42px;
    }

    .menu-btn {
        position: relative; 
        left: 40px;
    }

    .content p, p1 {
        background-color: #B16651;
        width: 80%;
    }

    .content img {
        width: 100%;
    }
}
