@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

nav {
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    margin-bottom: 30px;
    transition: 0.6s; 
}

nav.sticky {
    background: rgb(255, 255, 255, (0.75));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

nav .brand {
    color:#61210F;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}

nav .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 0 30px;
    color: #B16651;
    transition: 0.3s;
}


nav .menu a:hover {
    border-bottom: #61210F 2px solid;
}

nav .btn {
    color:#B16651;
    font-size: 25px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
    transition-property: color;
}

nav .btn:hover {
    color: #61210F ;
}

@media (max-width: 1060px) {
    nav .btn {
        display: block;
    }

    nav .menu {
        position: fixed;
        background:white;
        flex-direction: column;
        min-width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

    nav .menu.active {
        right: 0;
    }

    nav .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
    }
    
}

.section-main {
    padding-top: 15vh;
    width: 100%;
}

/*content*/
.row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
}

@media screen and (max-width: 800px) {
    .row {
        display:block;
    }
}

.work-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    align-self: flex-start;
    margin-left: 20%;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #61210F;
}

p {
        font-size: 16px;
        font-weight: 400;
        max-width: 60%;
        line-height: 1.3;
}

img {
    display: block;
    width: 100%;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.image {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
.image__img {
    margin: 50px 0;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color:#61210F;
    border: #61210F 10px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    transition-property: opacity;
}

.image__overlay:hover {
    opacity: 1;
}

.image__title {
    text-align: center;
    font-size: 2.3vw;
    font-weight: 500;
}